<h1>Page#projects</h1>
<p>Find me in app/views/page/projects.html.erb</p>

<div class="d-flex">
    <div class="card-group">
        <div class="card w-25">
            <div class="d-flex p-3">
                <%= image_tag '01.jpg', size: '150x150' %>
            </div>
            <div class="card-body">
                <h5 class="card-title">Tablero de Datos (Dashboard)</h5>
                <p class="card-text">Un dashboard permite visualizar gráficamente distintas variables que nos interese controlar para nuestro negocio o ámbito de acción. Sus características contemplan: elección del año a graficar, elección de índice económico y adapatado a móviles.</p>
                <div class="py-2">
                    <a href="https://crsantanag.github.io/Dashboard/" class="btn boton-link">Ir al demo</a>
                </div>
            </div>
        </div>

        <div class="card w-25">
            <div class="d-flex p-3">
                <%= image_tag '02.jpg', size: '150x150' %>
            </div>
            <div class="card-body">
                <h5 class="card-title">Restaurante - Reserva de Mesas</h5>
                <p class="card-text">Sus características contemplan: concepto del restaurante, menú completo, formulario de contacto, ubicación usando Google Maps, reserva on-line una mesa en una hora y fecha específica para uno o más comensales, un blog de artículos y adaptado a móviles.</p>
                <div class="py-2">
                    <a href="https://fascinating-lokum-0495a9.netlify.app/" class="btn boton-link">Ir al demo</a>
                </div>
            </div>
        </div>

        <div class="card w-25">
            <div class="d-flex p-3">
                <%= image_tag '03.jpg', size: '150x150' %>
            </div>
            <div class="card-body">
                <h5 class="card-title">Aplicación e-Commerce</h5>
                <p class="card-text">Sus características contemplan: catálogo de productos, carrito de compras, pasarela de pago PayPal, Autenticación (registro de usuario e inicio de sesión a través de JWT), Autorización (zona privada donde el usuario pueda ver su perfil) y daptado a móviles.</p>
                <div class="py-2">
                    <a href="https://adorable-fudge-b56602.netlify.app/" class="btn boton-link">Ir al demo</a>
                </div>
            </div>
        </div>

    </div>
</div>